{% extends 'base.html' %}
{% block content %}

<h3>✏️ Edit Service</h3>
<hr>

<div class="card p-4 shadow-sm">
  <form method="POST" class="row g-2">
    <div class="col-md-6">
      <label class="form-label">Service Name</label>
      <input class="form-control" name="service_name" value="{{service.service_name}}" required>
    </div>

    <div class="col-md-2">
      <label class="form-label">Price</label>
      <input class="form-control" name="price" type="number" value="{{service.price}}" required>
    </div>

    <div class="col-md-4">
      <label class="form-label">Category</label>
      <select class="form-control" name="category" required>
        <option value="Basic" {% if service.category == "Basic" %}selected{% endif %}>Basic</option>
        <option value="Premium" {% if service.category == "Premium" %}selected{% endif %}>Premium</option>
        <option value="Detailing" {% if service.category == "Detailing" %}selected{% endif %}>Detailing</option>
      </select>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-success w-100">Update</button>
    </div>
  </form>
</div>

{% endblock %}
